<div class="stack-report-inshort">
<div (click)="$event.preventDefault()">
    <tabset>
        <tab *ngFor="let tabz of tabs"
            [heading]="tabz.title"
            [active]="tabz.active"
            (select)="tabSelection(tabz)"
            (deselect)="tabz.active = false">

            <!-- Stack Report Snippet -->
                <div class="stack-report-snippet">
                    <div class="findings-inshort">
                        Components [<b>Total: {{stackLevel && stackLevel.dependencies && stackLevel.dependencies.length}}</b> components | <b>Analyzed: {{stackLevel && stackLevel.analyzed_dependencies_count}}</b> | <b>Unknown: {{stackLevel && stackLevel.unknown_dependencies_count}}</b>]
                    </div>
                    <div class="summary-inshort">
                        <div class="stat-container security-issues-stat">
                            <div class="stat-box">
                                <h3>
                                    <span>Security Alert</span>
                                </h3>
                                <div class="stat-content">

                                </div>
                            </div>
                        </div>
                        <div class="stat-container outlier-stat">
                            <div class="stat-box">
                                <h3>
                                    <span>Usage</span>
                                </h3>
                                <div class="stat-content">
                                    <div class="metric-desc">
                                        Components that aren't commonly used in your stack
                                    </div>
                                    <div class="metric">
                                        <span>03</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stat-container stack-license-stat">
                            <div class="stat-box">
                                <h3>
                                    <span>Licenses</span>
                                </h3>
                                <div class="stat-content chart-area">
                                    <div class="col-md-3">
                                        <div class="metric-desc">
                                            Out of date
                                        </div>
                                        <div class="metric">
                                            <span>03</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="metric-desc">
                                            Conflicts
                                        </div>
                                        <div class="metric">
                                            <span>
                                                {{stackLevel && stackLevel.license_analysis && stackLevel.license_analysis.status && stackLevel.license_analysis.status.toLowerCase() === 'stacklicenseconflict' ? 'YES' : 'NO'}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="metric-desc">
                                            All Licenses
                                        </div>
                                        <div class="metric">
                                            <f8-chart [data]="licenseInfo['data']" [chartOptions]="licenseInfo['chartOptions']" [configs]="licenseInfo['configs']"></f8-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recommendations-inshort">
                        <div class="recommendation-components alternate-components">
                            <b>{{recommendations && recommendations.alternate && recommendations.alternate.length}} alternate components</b> match your stack composition and may be more appropriate.
                        </div>
                        <div class="recommendation-components companion-components">
                            <b>{{recommendations && recommendations.companion && recommendations.companion.length}} additional components</b> are often used by similar stacks.
                        </div>
                    </div>
                </div>
                <!-- Stack Report Snippet -->
    
        </tab>
    </tabset>
    <stack-details *ngIf="result" class="report-link" [displayName]="'Show complete stack report'" [stackResponse]="result && result"></stack-details>
</div>
</div>
