<div class="stack-report-inshort">
<div (click)="$event.preventDefault()">
    <tabset>
        <tab *ngFor="let tabz of tabs"
            [heading]="tabz.title"
            [active]="tabz.active"
            (select)="tabSelection(tabz)"
            (deselect)="tabz.active = false">

            <!-- Stack Report Snippet -->
                <div class="stack-report-snippet">
                    <div class="findings-inshort">
                        Components [<b>Total: {{stackLevel && stackLevel.dependencies && stackLevel.dependencies.length}}</b> components | <b>Analyzed: {{stackLevel && stackLevel.analyzed_dependencies_count}}</b> | <b>Unknown: {{stackLevel && stackLevel.unknown_dependencies_count}}</b>]
                    </div>
                    <div class="summary-inshort">
                        <div class="stat-container security-issues-stat">
                            <div class="stat-box">
                                <h3>
                                    <span>Security Alert</span>
                                </h3>
                                <div class="stat-content">
                                    <div *ngIf="securityInfo.cve" class="col-xs-12">
                                        <div class="cvss-id">
                                            {{securityInfo.cve && securityInfo.cve.CVE}}
                                            <i class="{{securityInfo.iconClass}}" 
                                            data-toggle="tooltip" data-placement="top" 
                                            title="CVSS: Score to measure the impact of security vulnerability. In a scale from 0.0-10.0, vulnerabilities less than 7.0 are considered medium impact and more than or equal to 7.0 are considered high impact ones."></i>
                                        </div>
                                        <div class="cvss-data">
                                            <div>
                                                <span class="cvss-indication"><b>{{securityInfo.cve && securityInfo.cve.CVSS}} out of</b> 10</span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <!--added inline style here to handle the dynamic value of cvss score for the progress bar-->
                                            <div class="progress-bar" role="progressbar"
                                            [ngStyle]="{'width': securityInfo.percentage +'%'}"
                                            [ngClass]="securityInfo.displayClass"
                                            data-toggle="tooltip" data-placement="top" 
                                            title="{{securityInfo.cve && securityInfo.cve.CVSS}} out of 10">
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!securityInfo.cve">No CVEs</div>
                                </div>
                            </div>
                        </div>
                        <div class="stat-container outlier-stat">
                            <div class="stat-box">
                                <h3>
                                    <span>Usage</span>
                                </h3>
                                <div class="stat-content usage-outlier">
                                    <div class="metric-container">
                                        <div class="metric-desc">
                                            Components that aren't commonly used in your stack
                                        </div>
                                        <div class="metric">
                                            <span>{{stackLevelOutliers && stackLevelOutliers.usage && stackLevelOutliers.usage.length}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stat-container stack-license-stat">
                            <div class="stat-box">
                                <h3>
                                    <span>Licenses</span>
                                </h3>
                                <div class="stat-content chart-area">
                                    <div class="outlier-license flex-2">
                                        <div class="metric-desc">
                                            Out of date
                                        </div>
                                        <div class="metric">
                                            <span>03</span>
                                        </div>
                                    </div>
                                    <div class="conflict-license flex-2">
                                        <div class="metric-desc">
                                            Conflicts
                                        </div>
                                        <div class="metric">
                                            <span>
                                                {{stackLevel && stackLevel.license_analysis && stackLevel.license_analysis.status && stackLevel.license_analysis.status.toLowerCase() === 'stacklicenseconflict' ? 'YES' : 'NO'}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="all-license flex-2">
                                        <div class="metric">
                                            <f8-chart [data]="licenseInfo['data']" [chartOptions]="licenseInfo['chartOptions']" [configs]="licenseInfo['configs']"></f8-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recommendations-inshort">
                        <div class="recommendation-components alternate-components">
                            <b>{{recommendations && recommendations.alternate && recommendations.alternate.length}} alternate components</b> match your stack composition and may be more appropriate.
                        </div>
                        <div class="recommendation-components companion-components">
                            <b>{{recommendations && recommendations.companion && recommendations.companion.length}} additional components</b> are often used by similar stacks.
                        </div>
                    </div>
                </div>
                <!-- Stack Report Snippet -->
    
        </tab>
    </tabset>
    <div class="show-full-report">
        <stack-details *ngIf="result" class="report-link" [displayName]="'Show complete stack report'" [repoInfo]="repoInfo" [stackResponse]="result && result"></stack-details>
    </div>
</div>
</div>
