<div class="analytics-component-details">
    <div *ngIf="type === 'component'" class="component-information-container">
        <component-information [genericInformation]="genericInformation" [type]="type" [serial]="serial" [positions]="positions" [component]="compDetails?.componentInformation" [repoInfo]="repoInfo"></component-information>
    </div>
    <div *ngIf="type === 'recommendation'" class="component-information-container">
        <component-information [genericInformation]="genericInformation" [type]="type" [serial]="serial" [positions]="positions" [component]="compDetails?.recommendationInformation" [repoInfo]="repoInfo"></component-information>
    </div>
</div>
