@import '../../../assets/stylesheets/base';
@import '../stack-details/fabric8-stack-analysis-base';
.stack-components {
    @extend .base-container-layout;
    .stack-components-toolbar {
        margin: 0;
        padding: 10px 0 0px 10px;
        border: 1px solid #d1d1d1;
        &:after {
            content: '';
            clear: both;
            float: none;
            display: block;
        }
    }
    .stack-components-form-control {
        width: 200px;
        font-style: italic;
    }
    table {
        th {
            span.fa {
                cursor: pointer;
            }
        }

        td {
            font-size: 12px;
           
            span {
                cursor: pointer;

                i {
                    margin-right: 3px;
                    font-size: 14px;
                    
                    &.warning-red-color::before {
                        color: red;
                    }
                }
            }
        }
    }
    .alert-warning {
        margin-top: 15px;
    }
}
