<div class="stack-components">
    <h1> Dependencies </h1>
    <div>
        <!-- Toolbar -->
        <div class="stack-components-toolbar toolbar-pf table-view-pf-toolbar">
            <div class="col-sm-12">
                <form class="row toolbar-pf-actions">
                    <div class="form-group toolbar-pf-filter">
                        <label class="sr-only" for="filter">Name</label>
                        <div class="input-group">
                            <div (click)="handleDropDownClick(fieldContainer)" #fieldContainer class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{currentFilter}} <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li (click)="handleFilterFieldClick(fieldContainer, filter, $event)" *ngFor="let filter of filters">
                                        <a href="#">{{filter.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" (keyup)="handleKeyUpEvent($event)" class="form-control stack-components-form-control" placeholder="Filter By {{currentFilter}}..." autocomplete="off" id="filterInput">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Table HTML -->
        <table class="table table-striped table-bordered table-hover" id="table1">
            <thead>
                <tr>
                    <th (click)="handleTableOrderClick(header)" *ngFor="let header of headers">
                        {{header.name}}
                        <span *ngIf="header.isSortable" class="fa {{header.sortDirectionClass || sortDirectionClass}}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dependency of (dependenciesList | orderBy : orderByName : direction | filter: fieldName: fieldValue)">
                    <td>{{dependency.name}}</td>
                    <td>{{dependency.curVersion}}</td>
                    <td>{{dependency.latestVersion}}</td>
                    <td>{{dependency.pubPopularity}}</td>
                    <td>{{dependency.enterpriseUsage}}</td>
                </tr>
            </tbody> 
        </table>
    </div>
</div>
