@import '../../../assets/stylesheets/base';

.stack-components {
    padding: 15px 25px 15px 25px;
    .stack-components-toolbar {
        margin: 0;
        padding: 10px 0 0px 10px;
        border: 1px solid #d1d1d1;
        &:after {
            content: '';
            clear: both;
            float: none;
            display: block;
        }
    }
    .stack-components-form-control {
        width: 200px;
    }
    table {
        th {
            span.fa {
                cursor: pointer;
            }
        }

        td {
            font-size: 12px;
           
            i {
                margin-right: 3px;
                font-size: 14px;

                &.pficon-warning-triangle-o {
                    &:before {
                        color: red;
                    }
                }

                &.fa-check-circle-o {
                    color: orange;
                }
            }
        }
    }
    .alert-warning {
        margin-top: 15px;
    }
}
