<div class="container stack-details">
  <div class="row">
    <a class="stack-reports-btn" (click)="showStackModal($event)">{{displayName}}</a>
    <modal #stackModule title="Report title on Application, Build #{{buildId}}" modalClass="modal-lg modal-fullscreen" (onOpen)="getStackAnalyses(stack);">
      <modal-header>
          {{modalHeader}}
      </modal-header>
      <modal-content>
          <div *ngIf="isLoading" class="pre-loader">
            <div class="pre-loader-spinner spinner spinner-lg"></div>
          </div>
          <div [hidden]="errorMessage.message">
            <!-- Recommender -->
            <div>
              <f8-recommender [recommendations]="recommendations"></f8-recommender>
            </div>
            <!-- Stack Overview -->
            <div>
              <overview-stack [stackOverviewData]="stackOverviewData"></overview-stack>
            </div>
            <div>
              <f8-stack-components [dependencies]="dependencies && dependencies"></f8-stack-components>
            </div>
          </div>
          <div class="error-msg blank-slate-pf" [hidden]="!errorMessage.message">
            <div [hidden]="!errorMessage.stack">
              <div class="warning-icon blank-slate-pf-icon">
                <i class="pficon-warning-triangle-o"></i>
              </div>
              <h1>
                {{messages && messages['report_failure']}}
              </h1>
              <p>
                {{errorMessage.message}}
              </p>
            </div>
            <div [hidden]="errorMessage.stack">
              <div class="container-progress progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                  <span>50%</span>
                </div>
              </div>
              <h3>
                {{messages && messages['report_loading']}}
              </h3>
              <p>{{errorMessage.message}}</p>
            </div>
            <div class="blank-slate-pf-secondary-action">
              <button class="btn btn-default" (click)="stackModule.close()">{{messages && messages['cancel']}}</button>
              <button class="btn btn-primary" (click)="stackModule.close()">{{messages && messages['return_to_pipeline']}}</button>
            </div>
          </div>
      </modal-content>
    </modal>
  </div>
</div>

