<div class="container">
  <div class="row">
    <button class="stack-reports-btn" (click)="showStackModal()">Stack Reports</button>
    <modal #stackModule title="Report title on {{stackAnalysisRawData && stackAnalysisRawData.packageName}}" modalClass="modal-lg modal-fullscreen">
      <modal-content>
          <div [hidden]="errorMessage.message">
            <!-- Recommender -->
            <div>
              <f8-recommender [recommendations]="recommendations"></f8-recommender>
            </div>
            <!-- Stack Overview -->
            <div>
              <overview-stack [stackOverviewData]="stackOverviewData"></overview-stack>
            </div>
            <div>
              <f8-stack-components [dependencies]="dependencies && dependencies"></f8-stack-components>
            </div>
          </div>
          <div class="error-msg blank-slate-pf" [hidden]="!errorMessage.message">
            <div [hidden]="!errorMessage.stack">
              <div class="warning-icon blank-slate-pf-icon">
                <i class="pficon-warning-triangle-o"></i>
              </div>
              <h1>
                Repost has failed
              </h1>
              <p>
                {{errorMessage.message}}
              </p>
            </div>
            <div [hidden]="errorMessage.stack">
              <div class="container-progress progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                  <span>50%</span>
                </div>
              </div>
              <h1>
                Report is loading...
              </h1>
              <span>{{errorMessage.message}}</span>
            </div>
            <div class="blank-slate-pf-secondary-action">
              <button class="btn btn-default btn-lg" (click)="stackModule.close()">Cancel</button>
              <button class="btn btn-primary btn-lg" (click)="stackModule.close()">Return to pipeline</button>
            </div>
          </div>
      </modal-content>
    </modal>
  </div>
</div>

