<div class="stack-report">
  <a class="stack-reports-btn" (click)="showStackModal($event)">{{displayName}}</a>
  <pipleine-insights-details [url]="cve_url"></pipleine-insights-details>
  <modal #stackModule title="Stack report for {{appName}}, Build #{{buildNumber}}" modalClass="modal-lg modal-fullscreen modal-width-class" (onClose)="handleModalClose();" (onOpen)="init();">
    <modal-header>
        {{modalHeader}}
    </modal-header>
    <modal-content>
      <div *ngIf="!error">
        <tabset *ngIf="dataLoaded">
            <tab *ngFor="let tabz of tabs"
                [heading]="tabz.title"
                (select)="tabSelection(tabz)"
                (removed)="removeTabHandler(tabz)"
                [customClass]="tabz.active ? 'active-menu-item' : 'inactive-menu'">
                <accordion>
                  <accordion-group
                      [isOpen]="true"
                      [panelClass]="customClass"
                      [isDisabled]="true">
                        <div accordion-heading>
                          <div class="accordion-heading" accordion-heading>
                            Stack summary
                          </div>
                          <div class="accordion-sub-heading">
                            [Components: <b>{{analysis && analysis.stackLevel}}</b>]
                          </div>
                        </div>
                        <stack-level-information (changeFilter)="handleChangeFilter($event)" [outliers]="stackLevelOutliers" [userStack]="tabz && tabz.content && tabz.content.user_stack_info" (sendcveInfo) = "getcve($event)"></stack-level-information>
                  </accordion-group>
                  <accordion-group #grouped [isOpen]="true" [panelClass]="customClass">
                    <div accordion-heading>
                      <div class="accordion-heading" accordion-heading>
                        Detailed analysis of your stack components
                      </div>
                      <i class="pull-right accordion-indicator float-xs-right glyphicon"
                        [ngClass]="{'glyphicon-chevron-down': grouped?.isOpen, 'glyphicon-chevron-right': !grouped?.isOpen}"></i>
                      <div class="accordion-sub-heading">
                        <b>{{analysis && analysis.alternate}}</b>
                      </div>
                    </div>
                    <component-level-information [data]="repoInfo" [filterBy]="componentFilterBy" [header]="componentLevel.header" [subHeader]="componentLevel.subHeader" [component]="componentLevelInformation"></component-level-information>
                  </accordion-group>
                  <accordion-group #companion [panelClass]="customClass">
                    <div accordion-heading>
                      <div class="accordion-heading" accordion-heading>
                        Additional components recommended by Openshift IO
                      </div>
                      <i class="pull-right accordion-indicator float-xs-right glyphicon"
                        [ngClass]="{'glyphicon-chevron-down': companion?.isOpen, 'glyphicon-chevron-right': !companion?.isOpen}"></i>
                      <div class="accordion-sub-heading">
                        <b>{{analysis && analysis.companion}}</b>
                      </div>
                    </div>
                    <component-level-information [data]="repoInfo" [header]="companionLevel.header" [subHeader]="companionLevel.subHeader" [isCompanion]="true" [component]="companionLevelRecommendation"></component-level-information>
                  </accordion-group>
                </accordion>
            </tab>
        </tabset>
      </div>
      <div *ngIf="!dataLoaded" class="pre-loader">
        <div class="pre-loader-spinner spinner spinner-lg"></div>
      </div>
      <div class="error-msg blank-slate-pf" *ngIf="errorMessage">
        <div [hidden]="!errorMessage.status">
          <div class="warning-icon blank-slate-pf-icon">
            <i class="pficon-warning-triangle-o"></i>
          </div>
          <h1>
            Report failed
            <span *ngIf="errorMessage.status">{{errorMessage.status}}</span>
          </h1>
          <p>
            Error text: {{errorMessage.message}}
          </p>
        </div>
        <div [hidden]="errorMessage.status">
          <div class="container-progress progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
              <span>50%</span>
            </div>
          </div>
          <h3>
            Report is loading...
          </h3>
          <p>{{errorMessage.message}}</p>
        </div>
        <div [hidden]="errorMessage.status" class="blank-slate-pf-secondary-action">
          <button class="btn btn-default" (click)="stackModule.close()">Cancel</button>
          <button class="btn btn-primary" (click)="stackModule.close()">Return to Pipeline</button>
        </div>
        <div [hidden]="!errorMessage.status" class="blank-slate-pf-secondary-action">
          <button class="btn btn-primary" (click)="stackModule.close()">Return to Pipeline</button>
        </div>
      </div>
    </modal-content>
  </modal>
</div>
