.error-msg{
    text-align: center;
    background: #fff;
    border: none;
    .warning-icon{
        font-size: 6em;
    }
    .container-progress{
        width: 50%;
        margin: 0 auto;
    }
}
.modal-fullscreen {
    width: 90%;
    height: 90%;
}
