.ana-summary-info {
    font-size: 15px;
    font-weight: 100;
    .ana-normal {
        .info-key {
            float: left;
        }
        .info-value {
            color: #2a9fd8;
            font-weight: 500;
            float: right;
        }
        &:after {
            content: '';
            display: block;
            float: none;
            clear: both;
        }
    }
    .ana-custom {
        .info-key, .info-value {
            display: block;
        }
    }
}
