<div class="ana-summary-info">
    <div *ngIf="entry?.infoType === 'text'" class="ana-normal">
        <div class="row">
            <div class="col-sm-8 info-key" [innerText]="entry?.infoText"></div>
            <div class="col-sm-4 info-value" [innerText]="entry?.infoValue"></div>
        </div>
    </div>
    <div class="ana-custom" [ngSwitch]="entry?.infoType">
        <!-- should handle for various infoTypes -->
        <div *ngSwitchCase="'progress'">
            <span class="info-key" [innerText]="entry?.infoText"></span>
            <span class="info-value">
                <ana-progress-meter [config]="entry?.config"></ana-progress-meter>
            </span>
        </div>
    </div>
</div>
