// @import (reference) '../../../assets/stylesheets/shared/main.less';

.pipeline-insights {
  .pipeline-insights-btn { cursor: pointer; }
  .imp_info {
    border: 1px solid #000;
    padding: 5px;
    margin: 15px;
    margin-top: 10px;
    padding-right: 7px;
    width: fit-content;
  }
  // .modal-width-class {
  //   width: 95%;
  //   .modal-fullscreen {
  //     width: 95%;
  //     .pre-loader {
  //       width: min-content;
  //       left: 50%;
  //       .pre-loader-spinner {
  //         margin: 20px;
  //       }
  //     }
  //   }
  // }
  // .modal-width-error-class {
  //   width: fit-content;
  //   .modal-fullscreen {
  //     width: fit-content;
  //     margin: 175px auto;
  //     .pre-loader {
  //       width: 30%;
  //       left: 50%;
  //       margin: -14px;
  //       padding-bottom: 10px;
  //       padding-top: 25px;
  //       .pre-loader-spinner {
  //         margin: 20px;
  //       }
  //     }
  //   }
  // }
}