// @import (reference) '../../../assets/stylesheets/shared/main.less';
@bloodRed: #c00;
.pipeline-insights {
  align-content: center;
  cursor: pointer;
  .pipeline-insights-btn { cursor: pointer; }
  .warning-style {
    padding-right: 2px;
    color: @bloodRed;
    font-size: 12px;
  }
  .imp {
    font-size:12px;
    width: fit-content;
  .imp_info {
    padding: 5px;
    padding-right: 3px;
    .pficon-warning-triangle-o:before {
      color: @bloodRed;
    }
  }
}
}