<div class="analytics-card-details">
    <h2 [innerText]="details?.title"></h2>
    <p [innerText]="details?.titleDescription"></p>
    <div *ngIf="details?.reportInformations && details?.reportInformations.length > 1">
        <tabset *ngIf="dataLoaded">
            <tab *ngFor="let tabz of tabs"
                [heading]="tabz.title"
                (select)="tabSelection(tabz)"
                (removed)="removeTabHandler(tabz)"
                [customClass]="tabz.active ? 'active-menu-item' : 'inactive-menu'">

                <component-details [compDetails]="tabz.content"></component-details>

            </tab>
        </tabset>
    </div>
    <div *ngIf="details?.reportInformations && details?.reportInformations.length === 1">
        <component-details [compDetails]="details?.reportInformations[0]"></component-details>
    </div>
    <div *ngIf="details?.reportInformations && details?.reportInformations.length === 0">
        <!-- Handle no information scenario -->
    </div>
</div>
