@import '../stack-details/fabric8-stack-analysis-base';
.overview-stack {
    @extend .base-container-layout;
    background-color: #ededed;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    .overview-card {
        height: 230px;
        margin-left: 0;

        &:last-child {
            margin-right: 0;
        }

        .f8-icon-size {
            font-size: 30px;
        }
        .overview-star-icon {
            color: #E8AE3C;
        }
        .overview-fork-icon {
            color: #E08030;
        }
        .overview-depen-icon {
            color: #ec7a08;
        }
        .f8-chart-numeric {
            font-size: 24pt;
            font-weight: 100;
        }
        .f8-chart-description {
            font-size: 15px;
            font-weight: 100;
        }
        .sub-description {
            margin-top: -15px;
            font-size: 12px;
        }
        .overview-code-metric-icon {
            color: #3788c9;
        }
        .license-entries {
            line-height: 25px;
        }

        &.security-card {
            .cvss-id {
                font-size: 20px;
                font-weight: 100;
                margin-top: 5px;

                i {
                    font-size: 15px;
                    cursor: pointer;

                    &.warning-red-color::before {
                        color: red;
                    }
                }
            }

            .cvss-data {
                height: 50px;
                margin-top: 10px;

                & > div {
                    height: 100%;
                    position: relative;

                    .cvss-score {
                        font-size: 30px;
                        font-weight: 100;
                        position: absolute;
                        left: 20px;
                    }

                    .cvss-score-label {
                        font-size: 15px;
                        font-weight: 100;
                        position: absolute;
                        bottom: 6px;
                        left: 65px;

                        .label-1 {
                            font-size: 18px;
                        }
                    }

                    .cvss-indication {
                        position: absolute;
                        right: 20px;
                        bottom: 6px;
                    }
                }
            }

            .progress-bar {
                cursor: pointer;
            }
        }

        f8-chart {
            margin-top: -48px;
            text-align: center;
        }

        .warning-icon {
            font-size: 44pt;
            opacity: 0.9;
            margin: 0 0 10px 0;
        }

        .cvss-id {
            font-size: 20px;
            font-weight: 100;
            margin-top: 5px;
        }
    }

    .alert-warning {
        margin-top: 15px;
    }
}
