<div class="overview-stack">
  <h1>{{messages && messages.title}}</h1>
  <div *ngIf="stackOverviewData.noOfComponents === 0" class="alert alert-warning">
    <span class="pficon pficon-warning-triangle-o"></span>
    <b>{{messages.noDependencies}}</b> {{messages.dataAvailable}}
  </div>
  <div *ngIf="stackOverviewData.noOfComponents !== 0" class="row">
    <div class="col-sm-4 col-xs-12">
      <div class="overview-card card-pf card-pf-utilization security-card">
        <div>
          <h2 class="card-pf-title">
            {{messages && messages.security}}
          </h2>
        </div>
        <div class="card-pf-body">
          <div *ngIf="securityInfo && securityInfo.value === -1" class="row make-center">
            <div class="pficon pficon-help warning-icon"></div>
            <div class="cvss-id">{{messages.noCve}}</div>
          </div>
          <div *ngIf="securityInfo && securityInfo.value >= 0 && securityInfo.value <= 6.9" class="row make-center">
            <div class="fa fa-check-circle-o warning-icon"></div>
            <div class="cvss-id">{{messages.noSecurity}}</div>
          </div>
          <div *ngIf="securityInfo && securityInfo.value >= 7.0" class="row">
            <div class="col-sm-12">
              <div class="cvss-id">{{securityInfo.id}}
                <i class="{{securityInfo.iconClass}}" data-toggle="tooltip" data-placement="top" title="{{messages.cvssScoreTooltip}}"></i>
              </div>
              <div class="row cvss-data">
                <div class="col-sm-12">
                  <span class="cvss-score">{{securityInfo.value}}</span>
                  <span class="cvss-score-label"><span class="label-1">{{messages.cvss}}</span> {{messages.score}}</span>
                  <span class="cvss-indication"><b>{{securityInfo.value}} {{messages.totalCvss}}</b> {{messages.total}}</span>
                </div>
              </div>
              <div class="progress">
                <!--added inline style here to handle the dynamic value of cvss score for the progress bar-->
                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': securityInfo.percentScore+'%', 'background-color': securityInfo.displayColor}"
                  data-toggle="tooltip" data-placement="top" title="{{securityInfo.value}} {{messages.cvss}} {{messages.score}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-12 ">
      <div class="overview-card card-pf card-pf-utilization">
        <div>
          <h2 class="card-pf-title ">
            {{messages && messages.dependencies}}
          </h2>
        </div>
        <div class="card-pf-body ">
          <div class="row make-center ">
            <div class="col-sm-12">
              <div class="row f8-icon-size {{summaryInfo.className}} ">
                <i class="fa {{summaryInfo.icon}} "></i>
              </div>
              <div class="row f8-chart-numeric ">
                {{summaryInfo.numeric}}
              </div>
              <div class="row f8-chart-description ">
                <p>{{summaryInfo.description}}</p>
                <p *ngIf="summaryInfo.subDescription " class="sub-description ">{{summaryInfo.subDescription}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="overview-card card-pf card-pf-utilization ">
        <div>
          <h2 class="card-pf-title ">
            {{messages && messages.codeMetrics}}
          </h2>
        </div>
        <div class="card-pf-body ">
          <div class="row make-center ">
            <div *ngFor="let codeMetric of codeMetricsInfo " class="col-sm-4 ">
              <div class="row f8-icon-size {{codeMetric.className}} ">
                <i class="fa {{codeMetric.icon}} "></i>
              </div>
              <div class="row f8-chart-numeric ">
                {{codeMetric.numeric}}
              </div>
              <div class="row f8-chart-description ">
                <p>{{codeMetric.description}}</p>
                <p *ngIf="codeMetric.subDescription " class="sub-description ">{{codeMetric.subDescription}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="overview-card card-pf card-pf-utilization">
        <div>
          <h2 class="card-pf-title">
            {{messages && messages.license}}
          </h2>
        </div>
        <div class="card-pf-body">
          <div *ngIf="licenseChartInfo && licenseChartInfo.data.columns.length !== 0" class="row">
            <div class="col-sm-12">
              <f8-chart [data]="licenseChartInfo.data" [chartOptions]="licenseChartInfo.chartOptions" [configs]="licenseChartInfo.configs"></f8-chart>
            </div>
          </div>
          <div *ngIf="licenseChartInfo && licenseChartInfo.data.columns.length === 0" class="row make-center">
            <div class="pficon pficon-help warning-icon"></div>
            <div class="cvss-id">{{messages.noLicense}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
