<div class="overview-stack">
  <h1 class="overview-title">{{messages && messages.title}}</h1>
  <div *ngIf="!overviewData.summaryInfo.numeric" class="alert alert-warning">
    <span class="pficon pficon-warning-triangle-o"></span>
    <b>{{messages.noDependencies}}</b> {{messages.dataAvailable}}
  </div>
  <div *ngIf="overviewData.summaryInfo.numeric" class="row">
    <div class="col-sm-4 col-xs-12">
      <div class="overview-card card-pf card-pf-utilization security-card">
        <div>
          <h3 class="card-pf-title">
            {{messages && messages.security}}
          </h3>
        </div>
        <div class="card-pf-body">
          <div *ngIf="overviewData.securityInfo && overviewData.securityInfo.value === -1" class="row make-center">
            <div class="pficon pficon-help warning-icon"></div>
            <div class="cvss-id">{{messages.noCve}}</div>
          </div>
          <div *ngIf="overviewData.securityInfo && overviewData.securityInfo.value >= 0 && overviewData.securityInfo.value <= 3.9"
            class="row make-center">
            <div class="pficon pficon-ok warning-icon"></div>
            <div class="cvss-id">{{messages.noSecurity}}</div>
          </div>
          <div *ngIf="overviewData.securityInfo && overviewData.securityInfo.value >= 4.0" class="row">
            <div class="col-sm-12">
              <div class="cvss-id">{{overviewData.securityInfo.id}}
                <i class="{{overviewData.securityInfo.iconClass}}" 
                  data-toggle="tooltip" data-placement="top" 
                  title="{{messages.cvssScoreTooltip}}"></i>
              </div>
              <div class="row cvss-data">
                <div class="col-sm-12">
                  <span class="cvss-score">{{overviewData.securityInfo.value}}</span>
                  <span class="cvss-score-label"><span class="label-1">{{messages.cvss}}</span> {{messages.score}}</span>
                  <span class="cvss-indication"><b>{{overviewData.securityInfo.value}} {{messages.totalCvss}}</b> {{messages.total}}</span>
                </div>
              </div>
              <div class="progress">
                <!--added inline style here to handle the dynamic value of cvss score for the progress bar-->
                <div class="progress-bar" role="progressbar" 
                  [ngClass]="overviewData.securityInfo.displayClass" 
                  [ngStyle]="{'width': overviewData.securityInfo.percentScore+'%'}"
                  data-toggle="tooltip" data-placement="top" 
                  title="{{overviewData.securityInfo.value}} {{messages.cvss}} {{messages.score}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-12 ">
      <div class="overview-card card-pf card-pf-utilization">
        <div>
          <h3 class="card-pf-title ">
            {{messages && messages.dependencies}}
          </h3>
        </div>
        <div class="card-pf-body ">
          <div class="row make-center ">
            <div class="col-sm-12">
              <div class="row f8-icon-size {{overviewData.summaryInfo.className}} ">
                <i class="fa {{overviewData.summaryInfo.icon}} "></i>
              </div>
              <div class="row f8-chart-numeric ">
                {{overviewData.summaryInfo.numeric}}
              </div>
              <div class="row f8-chart-description ">
                <p>{{overviewData.summaryInfo.description}}</p>
                <p *ngIf="overviewData.summaryInfo.subDescription " class="sub-description ">{{overviewData.summaryInfo.subDescription}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="overview-card card-pf card-pf-utilization ">
        <div>
          <h3 class="card-pf-title ">
            {{messages && messages.codeMetrics}}
          </h3>
        </div>
        <div class="card-pf-body ">
          <div class="row make-center ">
            <div *ngFor="let codeMetric of overviewData.codeMetricsInfo " class="col-sm-4 ">
              <div class="row f8-icon-size {{codeMetric.className}} ">
                <i class="fa {{codeMetric.icon}} "></i>
              </div>
              <div class="row f8-chart-numeric ">
                {{codeMetric.numeric}}
              </div>
              <div class="row f8-chart-description ">
                <p>{{codeMetric.description}}</p>
                <p *ngIf="codeMetric.subDescription " class="sub-description ">{{codeMetric.subDescription}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="overview-card card-pf card-pf-utilization">
        <div>
          <h3 class="card-pf-title">
            {{messages && messages.license}}
          </h3>
        </div>
        <div class="card-pf-body">
          <div *ngIf="overviewData.licenseChartInfo && overviewData.licenseChartInfo.data.columns.length !== 0" class="row">
            <div class="col-sm-12">
              <f8-chart [data]="overviewData.licenseChartInfo.data" [chartOptions]="overviewData.licenseChartInfo.chartOptions" [configs]="overviewData.licenseChartInfo.configs"></f8-chart>
            </div>
          </div>
          <div *ngIf="overviewData.licenseChartInfo && overviewData.licenseChartInfo.data.columns.length === 0" class="row make-center">
            <div class="pficon pficon-help warning-icon"></div>
            <div class="cvss-id">{{messages.noLicense}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
