<div summaryCardClick *ngIf="isFromShortReport !== 'true'" class="analytics-summary-card">
    <div class="card-pf">
        <analytics-summary-title [title]="reportSummaryTitle"></analytics-summary-title>
        <analytics-summary-description [description]="reportSummaryDescription"></analytics-summary-description>
        <analytics-summary-content [cardType]="identifier" [content]="reportSummaryContent"></analytics-summary-content>
    </div>
</div>
<div *ngIf="isFromShortReport === 'true'" class="analytics-summary-card">
        <div class="card-pf">
            <analytics-summary-title [title]="reportSummaryTitle"></analytics-summary-title>
            <analytics-summary-description [description]="reportSummaryDescription"></analytics-summary-description>
            <analytics-summary-content [cardType]="identifier" [content]="reportSummaryContent"></analytics-summary-content>
        </div>
    </div>
