<!-- <fab-toast-notification [notifications]="feedbackMessages"></fab-toast-notification> -->
<div class="analytics-component-feedback">
    <div *ngIf="feedback?.feedbackTemplate" class="feedback">
        <span (click)="feedbackColorTypeUp=!feedbackColorTypeUp;handleFeedback($event, true, feedbackColorTypeUp);" [ngClass]="{'thumbs-up': !feedbackColorTypeUp , 'thumbs-up-true': feedbackColorTypeUp}"
            aria-label="positive feedback">
            <i [ngClass]="{'fa': true,'fa-thumbs-o-up': !feedbackColorTypeUp , 'fa-thumbs-up': feedbackColorTypeUp}" aria-hidden="true"></i>
        </span>
        <span (click)="feedbackColorTypeDown=!feedbackColorTypeDown;handleFeedback($event, false, feedbackColorTypeDown);" [ngClass]="{'thumbs-down': !feedbackColorTypeDown , 'thumbs-down-true': feedbackColorTypeDown}"
            aria-label="negative feedback">
            <i [ngClass]="{'fa': true,'fa-thumbs-o-down': !feedbackColorTypeDown , 'fa-thumbs-down': feedbackColorTypeDown}" aria-hidden="true"></i>
        </span>
    </div>
    <span class="no-feedback" *ngIf="!feedback?.feedbackTemplate">-----</span>
</div>
