<fab-toast-notification [notifications]="workItemResponse"></fab-toast-notification>
<div class="stack-recommendation">
  <div class="recommendation-header">
    <h1 class="keep-left">{{messages && messages.title}}</h1>
  </div>
  <div class="list-group recommendation-container">
    <!-- No recommendations scenario -->
    <div class="list-group-item list-view-pf-stacked" *ngIf="recommendationsList.length === 0">
      <div class="list-view-pf-main-info">
        <div class="list-view-pf-body">
          <div class="list-view-pf-description">
            <div class="list-group-item-heading">
              {{messages && messages.no_recommendations_text}}
            </div>
            <div class="list-group-item-text">
              {{messages && messages.no_recommendations_suggestion}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- No recommendations scenario -->

    <!-- Header to handle multiple items -->
    <div class="select-all-container" *ngIf="recommendationsList.length > 0"></div>
    <!-- Header to handle multiple items -->

    <div #listGroupItem class="list-group-item list-view-pf-stacked recommendation-group-item recommendation-list" *ngFor="let recommendation of recommendationsList">
      <div class="list-view-pf-actions">
        <button *ngIf="recommendation.showCreateButton" (click)="handleDropDownClick(recommendation.pop[0], recommendation, $event)"
          class="each-work-item btn btn-default" type="button">
                    {{messages && messages.create_work_item}}
                </button>
        <button *ngIf="recommendation.showViewButton" class="each-work-item btn btn-default">
          <a target="_blank" href="{{recommendation.viewWorkItemLink}}">{{messages && messages.view_work_item}}</a>
          </button>
      </div>
      <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
          <span class="pficon pficon-info" [ngClass]="{'dismissed': recommendation.isDismissed === true, 'strike-color': recommendation.showViewButton === true}"></span>
        </div>
        <div class="list-view-pf-body">
          <div class="list-view-pf-description" [ngClass]="{'dismissed': recommendation.isDismissed === true}">
            <div class="list-group-item-text" [ngClass]="{'strike-through-class': recommendation.showViewButton === true}">
              <span class="main-text-info">{{recommendation.suggestion}} - {{recommendation.action}} {{recommendation.message}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
