<div class="stack-level-information">
    <div class="summary-inshort">
        <div class="stat-container security-issues-stat">
            <div class="stat-box">
                <h3>
                    <span>Security Issues</span>
                </h3>
                <div class="stat-content">
                    <div *ngIf="securityInfo" class="col-xs-12">
                        <div class="cvss-id">
                            {{securityInfo.cve && securityInfo.cve.CVE}}
                            <i class="{{securityInfo.iconClass}}" 
                            data-toggle="tooltip" data-placement="top" 
                            title="CVSS: Score to measure the impact of security vulnerability. In a scale from 0.0-10.0, vulnerabilities less than 7.0 are considered medium impact and more than or equal to 7.0 are considered high impact ones."></i>
                        </div>
                        <div class="row cvss-data">
                            <div class="col-xs-12">
                                <span class="cvss-score">{{securityInfo.cve && securityInfo.cve.CVSS}}</span>
                                <span class="cvss-score-label"><span class="label-1">CVSS Score</span></span>
                                <span class="cvss-indication"><b>{{securityInfo.cve && securityInfo.cve.CVSS}} out of</b> 10</span>
                            </div>
                        </div>
                        <div class="progress">
                            <!--added inline style here to handle the dynamic value of cvss score for the progress bar-->
                            <div class="progress-bar" role="progressbar"
                            [ngStyle]="{'width': securityInfo.percentage +'%'}"
                            [ngClass]="securityInfo.displayClass"
                            data-toggle="tooltip" data-placement="top" 
                            title="{{securityInfo.cve && securityInfo.cve.CVSS}} out of 10">
                            </div>
                        </div>
                    </div>
                    <div class="center-text" *ngIf="!securityInfo">No CVEs</div>
                </div>
            </div>
        </div>
        <div class="stat-container outlier-stat">
            <div class="stat-box">
                <h3>
                    <span>Usage Outliers</span>
                </h3>
                <div class="stat-content usage-outlier">
                    <div *ngIf="stackLevelOutliers && stackLevelOutliers.usage && stackLevelOutliers.usage.length" class="metric-container">
                        <div class="metric-desc">
                            Components not used together
                        </div>
                        <div class="metric">
                            <span>{{stackLevelOutliers && stackLevelOutliers.usage && stackLevelOutliers.usage.length}}</span>
                        </div>
                    </div>
                    <div *ngIf="stackLevelOutliers && stackLevelOutliers.usage && !stackLevelOutliers.usage.length" class="center-text">
                        All the components in your stack work well with each other
                    </div>
                </div>
            </div>
        </div>
        <div class="stat-container stack-license-stat">
            <div class="stat-box">
                <h3>
                    <span>Licenses</span>
                </h3>
                <div class="stat-content license-area" *ngIf="licenseAnalysis && licenseAnalysis.status.toLowerCase() !== 'failure' && licenseAnalysis && licenseAnalysis.status.toLowerCase() !== 'nolicensedata'">
                    <div class="stack-license-text flex-3" *ngIf="licenseAnalysis.status.toLowerCase() === 'successful'">
                        <div class="metric-desc">
                            Stack level license
                        </div>
                        <div class="metric metric-license-status">
                            <span>{{licenseAnalysis.stackLicenseText}}</span>
                        </div>
                    </div>
                    <div class="outlier-license flex-3" *ngIf="licenseAnalysis && licenseAnalysis.status.toLowerCase() === 'successful'">
                        <div class="metric-desc">
                            Restrictive license(s)
                        </div>
                        <div class="metric">
                            <span>{{licenseAnalysis.licenseOutliersCount}}</span>
                        </div>
                    </div>
                    <div class="conflict-license flex-3" *ngIf="licenseAnalysis && (licenseAnalysis.status.toLowerCase() === 'stackconflict' || 
                    licenseAnalysis.status.toLowerCase() === 'conflict')">
                        <div class="metric-desc">
                            Stack level license
                        </div>
                        <div class="metric metric-license-status">
                            <span>
                                None
                            </span>
                        </div>
                    </div>
                    <!--<div 
                        class="conflict-license flex-3"
                        *ngIf="licenseAnalysis && (licenseAnalysis.status.toLowerCase() === 'stackconflict' || licenseAnalysis.status.toLowerCase() === 'conflict') 
                        && licenseAnalysis.licenseStackConflictCount"
                        [popover]="popLicenseTemplate"
                        popoverTitle="All Stack License Conflicts" 
                        placement="left"
                        containerClass="conflict-license-container"
                        triggers="mouseenter:mouseleave">
                        <div class="metric-desc">
                            License(s) can not be used together
                        </div>
                        <div class="metric">
                            <span>
                                {{licenseAnalysis.licenseStackConflictCount}}
                            </span>
                        </div>
                    </div>-->
                    <div 
                        class="conflict-license flex-3"
                        *ngIf="licenseAnalysis && (licenseAnalysis.status.toLowerCase() === 'stackconflict' || licenseAnalysis.status.toLowerCase() === 'conflict')">
                        <div class="metric-desc">
                            Licenses that can't be used together
                        </div>
                        <div class="metric">
                            <span>
                                {{licenseAnalysis.licenseStackConflictCount}}
                            </span>
                        </div>
                    </div>
                    <!--<ng-template #popLicenseTemplate>
                        <div 
                            class="license-template flex-4" 
                            *ngIf="licenseAnalysis && (licenseAnalysis.status.toLowerCase() === 'stackconflict' || licenseAnalysis.status.toLowerCase() === 'conflict')">
                            <div class="packages flex-2">
                                <div *ngFor="let conflict of licenseAnalysis.licenseConflictsFull" class="conflict-group">
                                    <div><span>{{conflict.package1}}</span><span class="fa fa-arrow-right"></span></div>
                                    <div><span>{{conflict.package2}}</span><span class="fa fa-arrow-right"></span></div>
                                </div>
                            </div>
                            <div class="licenses flex-2">
                                <div *ngFor="let conflict of licenseAnalysis.licenseConflictsFull" class="conflict-group">
                                    <div><span>{{conflict.license1}}</span></div>
                                    <div><span>{{conflict.license2}}</span></div>
                                </div>
                            </div>
                        </div>
                    </ng-template>-->
                    <div class="conflict-license flex-3" *ngIf="licenseAnalysis && licenseAnalysis.status.toLowerCase() === 'componentconflict'">
                            <div class="metric-desc">
                                Stack level license
                            </div>
                            <div class="metric metric-license-status">
                                <span>
                                    None
                                </span>
                            </div>
                        </div>
                    <div class="conflict-license flex-3" *ngIf="licenseAnalysis && licenseAnalysis.status.toLowerCase() === 'componentconflict'">
                        <div class="metric-desc">
                            Licenses that can't be used together
                        </div>
                        <div class="metric">
                            <span>
                                {{licenseAnalysis.licenseComponentConflictCount}}
                            </span>
                        </div>
                    </div>
                    <div class="unknown-license flex-3" *ngIf="licenseAnalysis && licenseAnalysis.status.toLowerCase() === 'unknown'">
                        <div class="metric-desc">
                            Stack level license
                        </div>
                        <div class="metric metric-license-status">
                            <span>
                                None
                            </span>
                        </div>
                    </div>
                    <div class="unknown-license flex-3" *ngIf="licenseAnalysis && licenseAnalysis.status.toLowerCase() === 'unknown'">
                        <div class="metric-desc">
                            Unknown license(s)
                        </div>
                        <div class="metric">
                            <span>
                                {{licenseAnalysis.licenseUnknownCount}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="stat-content center-text" *ngIf="licenseAnalysis && licenseAnalysis.status && licenseAnalysis.status.toLowerCase() === 'failure'">
                        Sorry! we were unable to get license data for this stack.
                </div>
                <div class="stat-content center-text" *ngIf="licenseAnalysis && licenseAnalysis.status && licenseAnalysis.status.toLowerCase() === 'nolicensedata'">
                        Sorry! we were unable to get license data for this stack.
                </div>
            </div>
        </div>
    </div>
</div>