.stack-level-information {
    .summary-inshort {
            display: flex;
            .stat-box {
                display: flex;
                flex-direction: column;
                height: 100%;
                h3 {
                    background: #ededed;
                    margin: 0;
                    height: 40px;
                    padding: 5px;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 12px;
                        font-weight: bold;
                    }
                    p {
                        margin: 0 0 0 10px;
                        font-size: 10px;
                    }
                }
                .stat-content {
                    align-items: center;
                    display: flex;
                    flex: 4;
                    .flex-1 {
                        flex: 1;
                    }
                    .flex-2 {
                        flex: 2;
                    }
                    &.usage-outlier {
                        flex: 4;
                        justify-content: center;
                    }
                    &.chart-area {
                        text-align: center;
                        flex: 4;
                        .c3-chart-arcs-title {
                            font-size: 10px;
                        }
                        f8-chart  {
                            margin: 0 auto;
                        }
                    }
                    .metric {
                        height: 40px;
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        color: #ccc;
                        font-weight: bold;
                        span {
                            margin: 0 auto;
                        }
                    }
                    .metric-desc {
                        font-size: 10px;
                    }
                }
            }

            &:after {
                content: '';
                display: block;
                float: none;
                clear: both;
            }
            .width-20 {
                width: 20%;
            }
            .width-40 {
                width: 40%;
            }
            .stat-container {
                margin: 10px 5px;
                border: 1px solid #ccc;
                border-radius: 5px;
                flex: 1;
                &.outlier-stat {
                    flex: 2;
                }
                &.stack-license-stat {
                    flex: 3;
                }
                &.security-issues-stat {

                    .cve-message {
                        font-size: 12px;
                        color: #777;
                        font-weight: 100;
                    }
                    .cvss-id {
                        font-size: 15px;
                        font-weight: 100;
                        margin-top: 5px;

                        i {
                            font-size: 25px;
                            cursor: pointer;
                            color: #ff7f0e;

                            &.warning-red-color::before {
                                color: #cc0000;
                            }
                        }
                    }

                    .cvss-data {
                        height: 50px;
                        margin-top: 10px;

                        & > div {
                            height: 100%;
                            position: relative;

                            .cvss-score {
                                font-size: 20px;
                                font-weight: 100;
                            }

                            .cvss-score-label {
                                font-size: 12px;
                                font-weight: 100;
                                bottom: 6px;

                                .label-1 {
                                    font-size: 15px;
                                }
                            }

                            .cvss-indication {
                                position: absolute;
                                right: 20px;
                                bottom: 6px;
                            }
                        }
                    }

                    .progress-bar {
                        cursor: pointer;
                    }
                }
                align-items: stretch;
            }
        }
}
