<div class="feedback">
    <button class="feedback-button" (click)="openFeedbackModal()">{{config && config.name}}</button>
    <div *ngIf="canShowModal" class="feedback-modal">
        <i (click)="closeFeedbackModal()" class="fa feedback-close fa-times" aria-hidden="true"></i>
        <div *ngIf="!hasEnteredFeedback">
            <h3>{{config && config.title}}</h3>
            <div class="feedback-poll">
                <div *ngFor="let item of config && config.poll; let i = index" class="feedback-item">
                    <h5>{{item.question}}</h5>
                    <div class="feedback-user-options">
                        <span *ngIf="item.type === 'rating'" >
                            <i [ngClass]="{'feed-back-star fa': true, 'fa-star feedback-active': getFeedActive(i, j), 'fa-star-o': getFeedInActive(i, j)}" (mouseenter)="mouseover[i] = j" (mouseleave)="mouseover[i] = 0" (click)="clickedRatings(i, j)" *ngFor="let j of [1, 2, 3, 4, 5]" [id]="j" aria-hidden="true"></i>
                        </span>
                        <textarea [(ngModel)]="result[i]" class="feedback-input" *ngIf="item.type === 'text'"></textarea>
                    </div>
                </div>
                <button class="feedback-button feedback-submit" (click)="submitFeedback()">Submit</button>
            </div>
        </div>
        <div *ngIf="hasEnteredFeedback">
            <div class="thank-you" [ngClass]="responseClass" [innerHTML]="responseMessage"></div>
        </div>
    </div>
</div>
