.analytics-report-information {
    .component-detail-headers {
        .float-left {
            float: left;
        }
        .small {
            width: 10%;
        }
        .medium {
            width: 15%;
        }
        .large {
            width: 25%;
        }
        &:after {
            content: '';
            float: none;
            clear: both;
            display: block;
        }
    }
}
