<div class="analytics-report-information">
    <div *ngIf="report?.componentDetails && report?.componentDetails.length > 0" class="component-detail-headers">
        <div [class]="header.className" *ngFor="let header of report?.headers" [innerText]="header.text"></div>
    </div>
    <component-details [genericInformation]="genericInformation" (click)="handleAccordion($event, cdetail)" [serial]="i" [type]="report?.type" [positions]="report?.headers" [compDetails]="cdetail" [repoInfo]="repoInfo" *ngFor="let cdetail of report?.componentDetails; let i = index;"></component-details>
    <no-data *ngIf="!report?.componentDetails || report?.componentDetails.length === 0" [identifier]="report?.identifier"></no-data>
</div>
