.recommendation-header {
    .recommender-action-group {
        margin-top: 20px;
        margin-bottom: 10px;
        .disable-create-work-item {
            background: #fff;
            color: #ccc;
            box-shadow: none;   
        }
    }
    &:after {
        content: '';
        clear: both;
        float: none;
        display: block;
    }
}
.keep-left {
    float: left;
}
.keep-right {
    float: right;
}

.recommendation-group-item {
    .show-drop {
        display: block;
    }
    &.top-level-selection {
        position: relative;
    }
}

.select-all-container {
    &:after {
        content: '';
        float: none;
        clear: both;
        display: block;
    }
}

.dismissed {
    text-decoration: line-through;
    color: #ccc;
}

.deactivate {
    color: #ccc;
    cursor: default;

    &:hover {
        background: #ccc;
    }

    a {
        color: inherit;
        cursor: auto;
    }
}

.activate {
    cursor: pointer;
}
